header{
    background-color: #212F3D;
}

#header-id{
    margin-bottom: 3rem;
}

#iconsmenu{
    margin-top: 1rem;
}

.menu-bar{

    background-color: #006778;

    a{
        color: #FFD32D;
        font-size: 1rem;
        font-weight: 1000;
        text-decoration: none;

    }

    li:not(:last-child){
        margin-right: 3rem;
    }

}

header{
    nav{
        transition: 1s;
    }
}

.menu-fixed{
    background-color: rgba($color: #D7DBDD, $alpha: 0.9);
    position: fixed;
    z-index: 1000;
    top:0;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}



@media screen and (max-width: 930px) {

    #logoelectro{
        display: flex;
        justify-content: center;
    }

    #iconsmenu{
        display: flex;
        justify-content: center;

    }

    .menu-bar{

    
        a{
            color: #ff6347;
            font-size: 0.7rem;
            font-weight: 1000;
            text-decoration: none;
    
        }

    }

  

}