@import "_header";
@import "_footer";


#bodyIndex{
    background-color: #929295;
}

.shopping-cart{
   display: none;
    }

#sectionbody{
    margin-bottom: 6rem;
}

.offcanvas-header{
    padding-bottom: 0;
}

.offcanvas-body{
    padding-top: 0;
}

#navbarDropdownMenuLink{
    font-weight: 600;
}

.btn-outline-primary {
    background-color: #FFD32D;
    border-color: #FFD32D;
    color: #ffffff;
    margin-top: 18px !important;
    margin-left: 5px;
}


.btn-primary {
    border-color: #FFD32D;
    background-color: #FFD32D;
}


form.form-inline input.form-control {
    width: 70%;

}

#barrabusqueda {
    margin-top: 18px;
}

.grid-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    width: 100%;
}

.grid {
    display: grid;
    grid-column: (minmax(12rem, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

}

.imgResponsive {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.alert{
    z-index: 100;
}

.hide{
    display: none;
}

.remove{
    display: none;
   
}

.unProducto {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: space-between;
    max-height: 50%;
    padding: 1rem;

    img {
        margin-bottom: 2rem;
    }

    div {
        width: 100%;

        .precio {
            margin-bottom: 0;
        }
    }
}

aside {
    .categoriasCheckbox {
        div {
            margin-bottom: .5rem;

            label {
                margin-bottom: 0;
                width: 100%;
                margin-left: .5rem;
            }
        }
    }

}

aside {
    .precioRange{
        input{
    margin-bottom: .5rem;
        }
    }
}

.filtro{
    display: none;
}

#cargando {
    max-width: 15rem;
    display: none;
}

#enviadoFin{
    max-width: 10rem ;
}

.text-end{
    font-size: .8rem;
}
